<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  
  <style>
    .form{
        border: 2px solid black;
        margin: auto;
        padding: 15px;
    }
  </style>
</head>
<body>

    <div class="form">
        <img src="" alt="">
        <form action="" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" >
            <label for="pass">Password</label>
            <input type="password" id="pass">
            <button type="submit">SignIn</button>
        </form>
    </div>
</body>
</html>