{% extends 'app/base.html' %}
{% load static %} 
{% block title %}Payment{% endblock title %} 
{% block main-content %}
    
    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'app/css/payment.css' %}" />

</head>
<body>

<div class="container">
    <div class="popup">
        <img src="{% static 'app/images/products/404-tick.png' %}">
        <h2>Thank You!</h2>
        <p>Your Order will be Delivered Within 1 Hour</p>
        <button type="button">OK</button>
    </div>

</div>    
    
</body>
</html>
{% endblock main-content %}